@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.b1 {
  border: 1px solid red;
}
.navbar {
  width: 100%;
  background: #858585;
  padding: 15px 10px;
  font-family: "Roboto", sans-serif;
}

.navbar > h2 {
  cursor: pointer;
  display: inline;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 20vh);
  grid-template-rows: repeat(3, 20vh);
  margin-bottom: 30px;
}
.box {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  cursor: pointer;
}
.box:hover {
  background: rgb(253, 219, 219);
}

.bt-0 {
  border-top: 0;
}
.bl-0 {
  border-left: 0;
}
.br-0 {
  border-right: 0;
}
.bb-0 {
  border-bottom: 0;
}

.img > img {
  transition: all 0.5s ease-in-out;
}

.turn {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-between;
}
.info {
  width: 100%;
}

button {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
